html{
    background: url(http://167.114.240.11/fbl-2009/200903/33419515.jpg);
    background-size: cover;
}
body{
    width: auto;
    height: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    align-items: center;
}

h1{
    color:red;
    text-align: center;
}
.keys{
    display: flex;
    justify-content: center;
}
.key{
    margin: 5px;
    line-height: 175%;
    background-color: red;
    text-align: center;
    -webkit-text-fill-color: white;
    width: 30px;
    height: 30px;
    border-style: solid;
    border-color: greenyellow;
    border-width: 5px;
    border-radius: 50%;

}
#space{
    width: 400px;
}
button{
    background-color: red;
    color: white;
    border-style: solid;
    border-color: green;
    border-width: 5px;
    border-radius: 5px;
    justify-content: center;
}