html{
    background: url(http://167.114.240.11/fbl-2009/200903/33419515.jpg);
    background-size: cover;
}
body{
    width: auto;
    height: auto;
    font-family: 'Indie Flower', cursive;
}
.game-menu{
    align-items: center;
    text-align: center;
}

h1{
    color:red;
    text-align: center;
}
p{
    color: yellow;
    text-align: center;
}
.keys{
    display: flex;
    justify-content: center;
}
.key{
    margin: 10px;
    line-height: 60px;
    background-color: red;
    text-align: center;
    -webkit-text-fill-color: white;
    width: 60px;
    height: 60px;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 50%;

}
#space{
    width: 400px;
}
button{
    background-color: red;
    color: white;
    border-style: solid;
    border-color: green;
    border-width: 5px;
    border-radius: 45%;
    text-align: center;
    width: 120px;
    height: 60px;
}
.wrong-key-down{
 border-color: salmon;
 background-color: salmon;
 transform:scale(1.15); 
}
.correct-key-down{
    border-color: rgb(72, 255, 0);
    background-color: rgb(72, 255, 0);
    transform:scale(1.15); 
}
.fire-key{
    border-color:orange;
    background-color: orange;
    transform:scale(1.15); 
}